<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coffee House</title>
        <meta author="Will Boone">
        <meta description="A mock-up of a coffee house website, demonstrating various JavaScript techniques.">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/coffeeStyles.css') }}">
    </head>

    <body>
        <header class="secondHeader">
            <h1>Coffee House Orders</h1>
            <nav class="secondNav">
            <a href="/coffee">Home</a>
            <a href="/coffee_menu">Menu</a>
            <a href="/coffee_today">Order Online</a>
            </nav>
        </header>

        <main>
            <div class="specialWelcome">
                <img src="{{ url_for('static', filename='images/coffeeLogo.png') }}" alt="Coffee Shop Logo" class="specialsLogo">
                <section>
                    <form>
                        <table>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='images/blackCoffee.jpg') }}" alt="Dark Roast">
                                </td>
                                <td>Dark Roast</td>
                                <td>$.99</td>
                                <td>
                                    <label for="count1">Order<br>Quantity:</label>
                                    <textarea name="count1" id="count1" cols="1" rows="1">0</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='images/mediumRoast.jpg')}}" alt="Medium Roast">
                                </td>
                                <td>Medium Roast</td>
                                <td>$1.99</td>
                                <td>
                                    <label for="count2">Order<br>Quantity:</label>
                                    <textarea name="count2" id="count2" cols="1" rows="1">0</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='images/lightRoast.jpg')}}" alt="Light Roast">
                                </td>
                                <td>Light Roast</td>
                                <td>$1.49</td>
                                <td>
                                    <label for="count3">Order<br>Quantity:</label>
                                    <textarea name="count3" id="count3" cols="1" rows="1">0</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='images/breakfastBlend.jpg')}}" alt="Breakfast Blend">
                                </td><td>Breakfast Blend</td>
                                <td>$.99</td>
                                <td>
                                    <label for="count4">Order<br>Quantity:</label>
                                    <textarea name="count4" id="count4" cols="1" rows="1">0</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='images/houseBlend.jpg')}}" alt="House Blend">
                                </td>
                                <td>House Blend</td>
                                <td>$1.99</td>
                                <td>
                                    <label for="count5">Order<br>Quantity:</label>
                                    <textarea name="count5" id="count5" cols="1" rows="1">0</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td><button id="order" onclick = "calculate()">Place Order</button></td>
                            </tr>
                        </table>
                    </form>
                </section>
            </div>
        </main>

        <footer>
            <div class="address">
              <span class="label">Address:</span>
              <span class="street">
                123 Main St. <br>
                Everywhere, Tx. 78945
              </span>
              <p>All Rights Reserved</p>
            </div>
          </footer>
          <script src="{{ url_for('static', filename='js/coffee_calculate.js')}}"></script>
    </body>
</html>

