<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee House</title>
    <link rel="stylesheet" href="../css/coffeeStyles.css">
    <script src="../js/specials.js" async></script>
  </head>

  <body>
    <header>
      <h1>Today's Fresh Baked Specials</h1>
    </header>

    <main class="specialWelcome">
      <img src="../images/coffeeLogo.png" alt="Coffee Shop Logo" class="specialsLogo">
      <button type="button" id="closeButton" onclick="window.open('', '_self', ''); window.close();">Close Specials Page</button>
      <section>
          <p id="specialsTable">

          </p>
      </section>
    </main>

    <footer>
      <div class="address">
        <span class="label">Address:</span>
        <span class="street">
          123 Main St. <br>
          Everywhere, Tx. 78945
        </span>
        <p>All Rights Reserved</p>
      </div>
    </footer>

  </body>
</html>