{% extends "base.html" %}

{% block title %}Will Boone: Web Developer{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/neonStart.js') }}"></script>
{% endblock %}

{% block content %}
    <img src="{{ url_for('static', filename='images/portfolio_hero.jpg') }}" alt="hero image">
                
    <div class="heroText resume">
        <section>
            <h1 class="heroCenter">Will Boone</h1>
            <h3 class="heroBottom">Web Developer</h3>
        </section>
    </div>

    <div id="about"></div>
    <h2 class="neon-effect resume">About</h2>
    <div class="about-content">
        <img src="{{ url_for('static', filename='images/Will_Jedi.jpg') }}" alt="Jedi Picture">
        <div>
            <p>Hello, I'm Will, in the past I have earned a bachelor's degree with a double major in history and speech communications. Now I am following a dream. I will graduate from Austin Community College in May 2024 with an Associates of Applied Science: Web Programming.</p>
                
            <p>I have already earned a certificate in Web Development. My last semester is more about finishing hours and completing the degree.</p>

            <p>I fully anticipate that I will graduate with a 3.9 GPA, but more importantly I will graduate with a passion for making websites. I love the creativity it opens, I love making the back-end components work, and I love seeing a new website come to being from absolutely nothing. And I love coding in Python and the freedom that Flask gives me while also providing the utility!</p>
            
            <p>I'm fascinated with the current trajectory of machine learning and the AIs that have been released. I firmly believe they will continue to play a huge role in shaping the world as we move forward. It is a tool that successful people will use, and one we must shape to our needs.</p>
            
            <p>My hobbies outside of tech? I love cooking and baking and I'm a gamer at heart, both table-top and video games. I love reading. Issaac Asimov has been my favorite author since high school (though I really, really wish Mr. Martin would finish his series). I also love sci-fi movies. Can you tell from my picture?</p>
            
            <p>I appreciate you taking the time to get to know a small bit about me. I look forward to potentially contributing my skills and passion to your team.</p>
        </div>
    </div>

    <div id="skills"></div>
    <h2 class='neon-effect'>Skills</h2>
    <div>
        <div class="row">
            <i class="devicon-html5-plain-wordmark"></i>
            <i class="devicon-css3-plain-wordmark"></i>
            <i class="devicon-python-plain-wordmark"></i>
            <i class="devicon-flask-original-wordmark"></i>
        </div>
        <div class="row">
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-github-original-wordmark"></i>
            <i class="devicon-vscode-plain-wordmark"></i>
            <i class="devicon-filezilla-plain"></i>
        </div>
        <div class="row">
            <i class="devicon-photoshop-line"></i>
            <i class="devicon-linux-plain"></i>
            <i class="devicon-mysql-plain-wordmark"></i>
            <i class="devicon-wordpress-plain-wordmark"></i>
        </div>
        <div class="row">
            <i class="devicon-java-plain-wordmark"></i>
            <i class="devicon-jquery-plain-wordmark"></i>
            <i class="devicon-php-plain"></i>
            <i class="devicon-codeigniter-plain-wordmark"></i>
        </div>
    </div>

    <div id="projects"></div>
    <h2 class="neon-effect">Projects</h2>
    <h3>This portfolio:</h3>
    <p>Languages: HTML, CSS, JavaScript, Python</p>
    <p>Framework: Flask</p>
    <p>This site is a work in progress. It is self hosted on a Kamatera VPS. The stack is Unbuntu, Caddy, SQLite and Python. SQLite features are not completed, so you will not see them yet. My plans for the blog will be the first implementation.</p>
    <br>
    <div class="writing2-container">
        <div class="writing2">
            <a href="https://pathsix.games"><img src="{{ url_for('static', filename='images/pathsix_games.png') }}" alt="Pathsix Games"></a>
            <p>Languages: HTML, CSS, JavaScript</p>
            <p>Framework: none</p>
            <p>The first website I made. It was a school project that has endured for a tabletop gaming group. I have kept it vanilla HTML and CSS with some JavaScript to denote it's origins.</p>
        </div>

        <div class="writing2">
            <a href="https://cssdallas.com"><img src="{{ url_for('static', filename='images/css_dallas.png') }}" alt="CSS Dallas Icon"></a>
            <p>Languages: HTML, CSS, JavaScript, PHP</p>
            <p>Framework: CodeIgniter</p>
            <p>My first commercial project, made for the Center for Social Success in Dallas, Tx.</p>
        </div>

       <!-- <div class="writing2">
            <img src="{{ url_for('static', filename='images/blog.jpg') }}" alt="Blog Icon">
            <p>My blog site. This is a double post, but I feel the blog belongs here.</p>
        </div>-->

        <div class="writing2">
            <a href="/technical"><img src="{{ url_for('static', filename='images/lesson_icon.png') }}" alt="Technical Doc Icon"></a>
            <p>Languages: HTML and CSS</p>
            <p>A project that outlines how technical writing can be styled for online posting.</p>
            <p>My article on writing high school lesson plans. It is the only one I have set up as a web-based technical doc.</p>
        </div>
    
        <div class="writing2">
            <a href="/expenses"><img src="{{ url_for('static', filename='images/expense_report.jpg') }}" alt="Expense Report Icon"></a>
            <p>Languages: HTML, CSS, JavaScript</p>
            <p>A realistic expense report that uses JavaScript for client-side validation and calculations. Note: This was a school lesson that I have modified and plan on doing more with in the near future.</p>
        </div>

        <div class="writing2">
            <a href="/roshambo"><img src="{{ url_for('static', filename='images/roshambo.jpg') }}" alt="Roshambo Icon"></a>
            <p>Language: Python</p>
            <p>This is and extremely simple roshambo game right now and started as me playing with Jinja 2 templating to explore DOM manipulation. I plan on seeing how much DOM manipulation I can do with Python and Jinja in the near future. More to come!</p>
        </div>

        <div class="writing2">
            <a href="/coffee"><img src="{{ url_for('static', filename='images/coffeeLogo.png') }}" alt="Coffee Shop Icon"></a>
            <p>Languages: HTML, CSS, JavaScript</p>
            <p>This is not a production website, but an early assignment where specific instructions were given for each page. For example, the Menu page contains a menu that is 100% JavaScript created and was my first project in DOM manipulation.</p>
       </div>

       <div class="writing2">
            <a  href="https://cssdallas.com/contact"><img src="{{ url_for('static', filename='images/contact_icon.jpg') }}" alt="CSS Dallas Contact Icon"></a>
            <p>Languages: HTML, CSS, JavaScript, PHP</p>
            <p>Highlighting the CSS Dallas custom contact page that uses JavaScript for client-side validation, PHP for server-side validation and AJAX for asynchronous submission.</p>
        </div>

        <div class="writing2">
            <a  href="https://pathsix.games/JadeRegent/dice"><img src="{{ url_for('static', filename='images/dice_icon.jpg') }}" alt="Dice Roller icon"></a>
            <p>Language: JavaScript</p>
            <p>Highlighting the dice app in the Pathsix Games website.</p>
        </div>

        <div class="writing2">
            <a  href="/asimov"><img src="{{ url_for('static', filename='images/isaac-asimov.png') }}" alt="Tribute Icon"></a>
            <a href="https://www.flaticon.com/free-icons/isaac-asimov" title="isaac asimov icons">Isaac asimov icons created by Freepik - Flaticon</a>
            <p>My HTML and CSS tribute to Isaac Asimov</p>
        </div>
    </div>

    <div id="writing"></div>
    <h2 class="neon-effect">Writing</h2>
    <div class="writing2-container">
        <div class="writing">
            <a href="{{ url_for('static', filename='images/f150evaluation.pdf') }}"><img src="{{ url_for('static', filename='images/lightning_icon.png') }}" alt="F-150 Article icon"></a>
            <p>Is Texas Ready for the F-150 Lightning?</p>
        </div>

        <div class="writing">
            <a href="/technical"><img src="{{ url_for('static', filename='images/lesson_icon.png') }}" alt="Lesson Planning Icon"></a>
            <p>Writing High School Lesson Plans</p>
        </div>

        <div class="writing2">
            <a href="{{ url_for('static', filename='images/seperation_of_concerns.pdf') }}"><img src="{{ url_for('static', filename='images/separation_icon.png') }}" alt="Seperation of Concerns icon"></a>
            <p>Separation of Concerns: Why is it Important?</p>
        </div>

        <div class="writing">
            <a href="{{ url_for('static', filename='images/Validation.pdf') }}"><img src="{{ url_for('static', filename='images/validation_icon.png') }}" alt="Validation Icon"></a>
            <p>Client-Side and Server-Side Validation: You Should Be Using Both</p>
        </div>

        <div class="writing">
            <a href="{{ url_for('static', filename='images/mvc.pdf') }}"><img src="{{ url_for('static', filename='images/mvc_icon.png') }}" alt="MVC Icon"></a>
            <p>MVC Through Back-End Frameworks</p>
        </div>

        <div class="writing">
            <a href="{{ url_for('static', filename='images/AJAX.pdf') }}"><img src="{{ url_for('static', filename='images/ajax_icon.png') }}" alt="Asynchronous JavaScrpt Icon"></a>
            <p>Asynchronous JavaScrpt and XML: AJAX</p>
        </div>
    </div>
{% endblock %}