{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/glow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/neonStart.js') }}"></script>
{% endblock %}

{% block content %}
    <div>
        <div class="blog-content">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content|safe }}</p>
            <p><small>Posted on: {{ post.timestamp }}</small></p>
        </div>
        <a href="{{ url_for('blog') }}">Back to Blog</a>
    </div>
{% endblock %}