{% extends "base.html" %}

{% block title %}Roshambo{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<section id="game">
    <h1>Rock, Paper, Scissors</h1>
    <p>A simple game of roshambo that illustrates very simple DOM manipulation using Python.</p>
    <p>To play, enter R for rock, S for scissors, or P for paper.</p>
    <p>The fields will hide each players selection.</p>
    <form method="POST">
        Player 1: <input type="password" name="player1"><br>
        Player 2: <input type="password" name="player2"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <p>{{ result }}</p>
</section>

{% endblock %}